#Archivos temporales de SASS
.sass-cache

#Módulos de node. Se instalan con npm install
node_modules

#Móudlos de bower
public/components/*
public/js/*
public/img/*
public/css/*
public/monitor
layouts/final

#Excepto:
!public/components/galleria
!public/components/quojs
!public/css/fonts
