#Archivos temporales de SASS
.sass-cache

#Módulos de node. Se instalan con npm install
node_modules

#Móudlos de bower
public/components/*
#Excepto galleria.io que no es de bower
!public/components/galleria
!public/components/quojs