#Archivos temporales de SASS
.sass-cache

#Módulos de node. Se instalan con npm install
node_modules

#Móudlos de bower
public/components/*
#Excepto galleria.io que no es de bower
!public/components/galleria
#Intento de que funcione font-awesome sin modificaciones
!public/components/components-font-awesome/scss/_variables.scss