extends /layouts/client

block content

    div#login
        div.window
            h1 Bienvenido a
                span.title SocialCenter
            div.alert.alert-danger.text-center No has realizado la identificación correctamente. Prueba de nuevo.
            div.alert.alert-warning.text-center Se ha identificado otro usuario. Espera a que termine su sesión.
                button#logout.btn.btn-warning(type="button") Salir espera
            div.alert.alert-success.text-center Puedes intentar identificarte en la aplicación.
            div.alert.alert-info.text-center Ha salido de la aplicación. Recarga la página para poder identificarte.
                button.btn.btn-info(type="button", onclick="location.reload();") Recargar

    div.buttons.text-center
        div.btn-group
            button#home.btn.btn-warning(type="button") <i class="fa fa-home"></i> Inicio
            button#goback.btn.btn-warning(type="button") <i class="fa fa-undo"></i> Volver
            button#logout.btn.btn-warning(type="button") Salir
        div.clearfix
        div.btn-group
            button#left.btn.btn-primary.btn-lg.btn-success(type="button") <i class="fa fa-arrow-left"></i>
            button#ok.btn.btn-primary.btn-lg.btn-danger(type="button") OK
            button#right.btn.btn-primary.btn-lg.btn-success(type="button") <i class="fa fa-arrow-right"></i>
        div.btn-group
            button#messages.btn.btn-primary.btn-lg.btn-success(type="button") Bandeja
            button#changeMask.btn.btn-primary.btn-lg.btn-danger(type="button") Barra
        div.btn-group
            button#appmsgs.btn.btn-primary.btn-lg.btn-success(type="button") Ocultar
            button#allmsgs.btn.btn-primary.btn-lg.btn-success(type="button") Todos
