extends /layouts/client

block content
    div.buttons.text-center
        div.top
            button#home.btn.btn-warning.pull-left(type="button") <i class="fa fa-home"></i> Home
            button#goback.btn.btn-warning.pull-right(type="button") <i class="fa fa-undo"></i> Return
        div.clearfix
        div.btn-group
            button#left.btn.btn-primary.btn-lg.btn-success(type="button") <i class="fa fa-arrow-left"></i> Left
            button#ok.btn.btn-primary.btn-lg.btn-danger(type="button") OK
            button#right.btn.btn-primary.btn-lg.btn-success(type="button") Right <i class="fa fa-arrow-right"></i>
        div.btn-group
            button#messages.btn.btn-primary.btn-lg.btn-success(type="button") Messages
            button#changeMask.btn.btn-primary.btn-lg.btn-danger(type="button") Change Mask
        div.btn-group
            button#appmsgs.btn.btn-primary.btn-lg.btn-success(type="button") App Msgs
            button#allmsgs.btn.btn-primary.btn-lg.btn-success(type="button") All Msgs
