lazy-script(srcscript='sensores/datos.js')

div#sensores

    div.row
        div#sensor1.col-md-6

        div#sensor2.col-md-6

    div.row
        div.col-md-12(style="height:20px;")
    div.row

        div#sensor3.col-md-6

        div#sensor4.col-md-6