script(type="text/javascript")

    activarBoton('1', 'Anterior');
    activarBoton('3', 'Siguiente');

    funcionesbt1 = function(){
        console.log("FUNCIONA BOTON 1")
        fathom.prevSlide()
    }

    funcionesbt3 = function(){
        console.log("FUNCIONA BOTON 3")
        fathom.nextSlide()

    }

div.fathom-container
    div#presentacion
        div.auto
            p
                input(type='checkbox')
                span Reproducción continua
            p
                span.currentSlide 1
                span.separator /
                span.totalSlides 1

        div.slide
            h1 Mi presentación
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper ultrices tempus. Integer facilisis quis nisi sit amet adipiscing. Curabitur ligula ligula, congue quis hendrerit nec, luctus semper enim. Mauris et dui feugiat, aliquet lorem non, aliquam urna. Phasellus orci nisl, molestie sed libero eget, egestas vehicula justo. Ut posuere sit amet quam at ornare. Praesent quis nisl quis orci ornare laoreet a quis turpis. Mauris condimentum ullamcorper magna, eu tincidunt neque posuere vitae. Fusce vehicula, est quis fringilla tempus, metus erat consectetur magna, et adipiscing dolor leo non est. Quisque non risus nisi. Nunc iaculis aliquet venenatis. Vestibulum volutpat, odio vitae elementum condimentum, sem urna condimentum nibh, et interdum purus massa nec nulla. Nullam egestas lacus et neque interdum, non euismod metus lobortis. In viverra a felis in pulvinar. Ut eu lobortis nunc, id congue nunc.
        div.slide
            h2 Una lista de puntos
            ul
                li Primer punto
                li Segundo punto
                li Tercer punto
