doctype 5
html
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        title #{title}
        meta(name="viewport", content="user-scalable=no, width=device-width, initial-scale=1.0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        block css
            link(rel='stylesheet', href="/mando-cocina/css/client/slider.css")
            link(rel='stylesheet', href="/mando-cocina/css/client/style.css")


        script(type='text/javascript')
            var eventos =!{JSON.stringify(array_eventos)}
        block js
            script(src='/mando-cocina/components/modernizr/modernizr.js')
            script(src='/mando-cocina/components/jquery/dist/jquery.min.js')
            script(src='/mando-cocina/js/client/jquery.textfill.min.js')
            script(src='/mando-cocina/js/client/bootstrap-maxlength.js')



            script(src='/mando-cocina/components/sass-bootstrap/dist/js/bootstrap.min.js')

            script(src='/mando-cocina/socket.io/socket.io.js')


            script(src='/mando-cocina/components/quojs/quo.js')
            script(src='/mando-cocina/components/quojs/quo.ajax.js')
            script(src='/mando-cocina/components/quojs/quo.css.js')
            script(src='/mando-cocina/components/quojs/quo.element.js')
            script(src='/mando-cocina/components/quojs/quo.environment.js')
            script(src='/mando-cocina/components/quojs/quo.events.js')
            script(src='/mando-cocina/components/quojs/quo.gestures.js')
            script(src='/mando-cocina/components/quojs/quo.output.js')
            script(src='/mando-cocina/components/quojs/quo.query.js')



            script(src='/mando-cocina/components/sass-bootstrap/js/modal.js')
            script(src='/mando-cocina/js/client/client.js')
    body
        block content


