//- lazy-style(href="/components/mediaelement/build/mediaelementplayer.min.css")

style(type="text/css")
    .mejs-video{display:inline-table;}

lazy-script(srcscript='videos/main.js')

video#vid1(controls="controls",preload="none", width="400", height="250", poster="http://www.videojs.com/img/poster.jpg")
  source(src="http://vjs.zencdn.net/v/oceans.mp4",type='video/mp4')
  source(src="http://vjs.zencdn.net/v/oceans.webm", type='video/webm')

video#vid2(controls="controls",preload="none", width="400", height="250", poster="http://www.mothernaturevideos.com/wp-content/uploads/2009/08/herontakesflight-500.jpg")
  source(src="http://ia700404.us.archive.org/21/items/HeronTakesFlight/HeronTakesFlight-720.mp4",type='video/mp4')
