/*

CSS MONITOR

*/
@import "bootstrap";
@import "compass";

$gris: #E6E6E6;
$naranja:#F36126;
$negro: #404040;

body {
  background: $gris;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
}

header {

  float: left;
  width: 100%;

  .breadcrumb {
    padding: 0;
    border-radius: 0;
    background: $naranja;
    color: #fff;
    font-weight: bold;
    margin: 0;
    li {

      display: inline-table;
      padding: 8px;
      a { }
    }
    li.active {
      background: darken($naranja, 15%);

    }
  }
}
#content {
  float: left;
  width: 100%;
  padding: 20px;
  position: relative;
}
.row a {
  background: #444;
  display: inline-table;
  color: $naranja;
  font-size: 50px;
  height: 250px;
  line-height: 250px;
  margin: 30px;
  opacity: .6;
  text-align: center;
  text-shadow: 1px 1px #000;
  width: 400px;
}

.current {
  box-shadow: 0 0 25px DodgerBlue;
  opacity: 1 !important;
}

#messages {

  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  .background {
    background: #000;
    height: 100%;
    opacity: .6;
    position: absolute;
    width: 100%;

  }

  .content {
    background: $gris;
    border: 10px solid $negro;
    height: 100%;
    margin: 0px;
    padding: 20px;
    position: relative;
    width: 100%;

    h1 {
      color: $negro;
      border-bottom: 2px solid $negro;
    }

    .items {
      height: 90%;
      overflow-y: scroll;
      font-size: 30px;

      ul {
        list-style: none;

        li {
          padding: 10px 0;
          border-bottom: 1px solid $negro;
          font-size: 36px;
          span {
            margin: 0 10px;
            &.timeago{
              font-style: italic;
              color: $naranja;
            }
          }
        }
      }
    }

  }
}


footer {

  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 300px;


  /* PANEL DESLIZANTE DE MENSAJES */
  .bottom {
    display: block;
    background: $negro;
    color: #FFF;
    height: 100%;
    position: relative;
    width: 100%;


    #slider {
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      height: 100%;
      ul {
        position: relative;
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        li {
          position: relative;
          display: block;
          float: left;
          margin: 20px 0;
          padding: 0;
          height: 100%;
          text-align: center;
          width: 100%;

          .info {
            p{
              color: inherit;
              font-size: 70px;
              line-height: 70px;

            }
            .prioridad{

              text-align: center;
              font-size: 50px;
              line-height: 50px;
              margin: 10px;

            }

            .fecha{
              font-size: 36px;
              line-height: 36px;
            }

            span.timeago {
              font-size: 28px;
              display: block;
            }




          }

        }
      }
    }

  }

  .none {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1860px) {
  .container {
    width: 1560px;
  }
}

@media (min-width: 1860px) {
  .container {
    width: 1860px;
  }
}


.mejs-container-fullscreen {
  position: absolute !important;
}

.galleria{height:720px}

.container, .monitor, #views {
  height: 100%;
}

#login{

  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .alert{
    font-size: 70px;
  }

  .event{
    width: 256px;
    height: 256px;
    margin: 0 auto;

    div{
      width: 100%;
      display: block;
      height: 100%;
    }
    .singleTap { background-image: url("/img/gestures/tap.png"); }
    .doubleTap { background-image: url("/img/gestures/double_tap.png"); }
    .swipeLeft { background-image: url("/img/gestures/swipe_left.png"); }
    .swipeRight{ background-image: url("/img/gestures/swipe_right.png"); }
    .swipeUp{ background-image: url("/img/gestures/swipe_up.png"); }
    .swipeDown{ background-image: url("/img/gestures/swipe_down.png"); }
    .rotateLeft{ background-image: url("/img/gestures/rotate_left.png"); }
    .rotateRight{ background-image: url("/img/gestures/rotate_right.png"); }
    .pinchIn{ background-image: url("/img/gestures/pinch.png"); }
    .pinchOut{ background-image: url("/img/gestures/pinch_out.png"); }
  }


}

/*
ICONOS
*/
.glyphicon {
  &.p0 {

    color: $brand-danger;
    @extend .glyphicon-warning-sign;

  }
  &.p1 {
    color: $brand-info;

    @extend .glyphicon-bookmark;

  }
  &.p2 {
    color: $brand-warning;
    @extend .glyphicon-bullhorn;
  }
}