/*

CSS MONITOR

*/
@import "bootstrap";
@import "compass";

$gris: #E6E6E6;
$naranja:#F36126;
$negro: #404040;

body {
  background: $gris;
  background-size: cover;
  background-attachment: fixed;
  background-position: center 0;
}

header {

  background: $naranja;
  float: left;
  height: 5%;
  position: absolute;
  width: 100%;

  .breadcrumb {
    background: $naranja;
    border-radius: 0;
    color: #fff;
    font-weight: bold;
    height: 100%;
    margin: 0;
    padding: 0;
    li {

      display: inline-table;
      padding: 0% 1%;
      height: 100%;
      font-size: 2em;

      .clickProtegido {
        background: inherit;
        color: inherit;
        font-size: inherit;
        font-weight: inherit;
        height: 100%;
        margin: 0px;
        padding: 0px;
        vertical-align: top;

      }

      a { }
    }
    li.active {
      background: darken($naranja, 15%);

    }
  }

  .modoprotegido {
    position: absolute;
    margin: 0 auto;
    width: 30%;
    top: 25px;
    left: 0;
    right: 0;
  }
}
#content {
  float: left;
  height: 70%;
  left: 0;
  padding: 20px;
  position: absolute;
  top: 5%;
  width: 100%;
}
.row #menu a {
  background: #444;
  display: inline-table;
  color: $naranja;
  font-size: 50px;
  height: 250px;
  line-height: 250px;
  margin: 30px;
  opacity: .6;
  text-align: center;
  text-shadow: 1px 1px #000;
  width: 400px;
}

.current {
  box-shadow: 0 0 25px DodgerBlue;
  opacity: 1 !important;
}

#messages {

  display: none;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;

  .background {
    background: #000;
    height: 100%;
    opacity: .6;
    position: absolute;
    width: 100%;

  }

  .content {
    background: $gris;
    border: 10px solid $negro;
    height: 100%;
    margin: 0px;
    padding: 20px;
    position: relative;
    width: 100%;

    h1 {
      color: $negro;
      border-bottom: 2px solid $negro;
    }

    .items {
      height: 90%;
      overflow-y: scroll;
      font-size: 30px;

      ul {
        list-style: none;

        li {
          padding: 10px 0;
          border-bottom: 1px solid $negro;
          font-size: 36px;
          span {
            margin: 0 10px;

            &.prioridad {
              float: left;

              &.p0 {
                width: 7%;
              }
            }
            &.timeago{
              font-style: italic;
              color: $naranja;
            }
          }
        }
      }
    }

  }
}


footer {

  background: $negro;
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  height: 25%;
  width: 100%;


  /* PANEL DESLIZANTE DE MENSAJES */
  .bottom {

    height: 100%;
    position: relative;
    width: 100%;


    #slider {

      margin: 0px;
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;

      ul {
        position: relative;
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        li {
          background: $negro;
          clear: both;
          color: #FFF;
          display: block;
          display: block;
          float: left;
          height: 100%;
          padding: 0;
          position: relative;
          text-align: center;
          width: 100%;

          .data {

            width: 10%;
            float: left;

            .icon {
              font-size: 65px;
              margin-top: 10%;
            }

            .ago {
              font-size: 36px;
              line-height: 36px;
            }


          }
          .info {

            width: 90%;
            float: left;

            p{
              color: inherit;
              font-size: 70px;
              line-height: 70px;

            }
            .prioridad{

              text-align: center;
              font-size: 50px;
              line-height: 50px;
              margin: 10px;

            }

            .fecha{
              font-size: 36px;
              line-height: 36px;
            }

            span.timeago {
              font-size: 28px;
              display: block;
            }




          }

        }
      }
    }

  }

  .none {
    display: none;
  }
}

@media (min-width: 1200px) and (max-width: 1860px) {
  .container {
    width: 1560px;
  }
}

@media (min-width: 1860px) {
  .container {
    width: 1860px;
  }
}


.mejs-container-fullscreen {
  position: absolute !important;
}

.galleria{height:720px}

.container, .monitor, #views {
  height: 100%;
}

#login{

  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  background: #000;
  width: 100%;
  height: 100%;
  z-index: 1000;

  .alert{
    font-size: 70px;
  }

  .event{
    width: 256px;
    height: 256px;
    margin: 0 auto;

    div{
      width: 100%;
      display: block;
      height: 100%;
    }
    .singleTap { background-image: url("/img/gestures/tap.png"); }
    .doubleTap { background-image: url("/img/gestures/double_tap.png"); }
    .swipeLeft { background-image: url("/img/gestures/swipe_left.png"); }
    .swipeRight{ background-image: url("/img/gestures/swipe_right.png"); }
    .swipeUp{ background-image: url("/img/gestures/swipe_up.png"); }
    .swipeDown{ background-image: url("/img/gestures/swipe_down.png"); }
    .rotateLeft{ background-image: url("/img/gestures/rotate_left.png"); }
    .rotateRight{ background-image: url("/img/gestures/rotate_right.png"); }
    .pinchIn{ background-image: url("/img/gestures/pinch.png"); }
    .pinchOut{ background-image: url("/img/gestures/pinch_out.png"); }
  }


}

/*
ICONOS
*/
.glyphicon {
  &.p0 {

    color: $brand-danger;
    background-image: url('/img/citius.png');
    width: 100%;
    min-height: 50px;
    background-size: 100% auto;
    background-repeat: space;
    // @extend .glyphicon-warning-sign;

  }
  &.p1 {
    color: $brand-info;

    @extend .glyphicon-bookmark;

  }
  &.p2 {
    color: $brand-warning;
    @extend .glyphicon-user;
  }
}


/*
MODO PRESENTACION
*/
.nav-presentacion {
  text-align: center;
  margin: 10px;
  a {
    margin: 0 10px;
    @extend .btn;
    @extend .btn-default;
  }
}
div.slide{
  -webkit-box-shadow: 0 0 50px #c0c0c0;
  -moz-box-shadow: 0 0 50px #c0c0c0;
  box-shadow: 0 0 50px #c0c0c0;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 20px;
  position: relative;
  width: 900px;

  &.activeslide {
    opacity: 1;
    display: block;
  }

  &.inactiveslide {
    opacity: 0.4;
    display: none !important;
  }
}



